body {
    background-color: #fff;
    padding:50px;
    font: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#595959;
    font-weight:400;
  }