---
---

@import "minimal-light";

body {
  background-color:#fafafa;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

a:hover, a:focus {
  font-weight:inherit;
}